@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Iceberg&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  margin: 4rem 0 0 0;
  background: #fff;
  color: #000;
  font-size: 0.938rem; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  width: 100%;
  max-width: 100%;
  height: auto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0f0f0f;
  font-weight: 700;
  font-family: "Iceberg", cursive; }

p,
a,
button {
  font-family: "Poppins", sans-serif; }

button {
  background: #0f0f0f;
  color: #fff;
  display: inline-block;
  width: fit-content;
  padding: 0.8rem 1.6rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  margin: 1.5rem 1rem 0 0;
  font-size: 1rem; }
  button:hover {
    border-color: #0f0f0f;
    background: #fff;
    color: #0f0f0f; }
  button.primary {
    background: #f17300;
    color: #fff; }
    button.primary:hover {
      border-color: #f17300;
      background: #fff;
      color: #f17300; }

input,
textarea {
  outline: none;
  border: none;
  font-size: 1rem; }

.main {
  overflow-x: hidden; }

.overlay {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 999;
  transition: all 0.4s ease-in-out;
  pointer-events: none;
  cursor: pointer; }

.header {
  width: 100%;
  position: fixed;
  top: 1rem;
  left: 0;
  z-index: 999;
  background: transparent; }
  .header .nav {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .nav .nav-menu {
      position: relative; }
    .header .nav .nav-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 7rem 0 0 3rem;
      background: #0f0f0f;
      color: #fff;
      opacity: 0;
      z-index: 9999;
      transform: translateX(-100%); }
      .header .nav .nav-menu .nav-list {
        margin-top: -2rem; }
        .header .nav .nav-menu .nav-list .nav-item {
          position: relative;
          display: block; }
          .header .nav .nav-menu .nav-list .nav-item .nav-link {
            color: #fff;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 70px;
            text-transform: uppercase;
            font-family: "Iceberg", cursive;
            position: relative;
            display: block;
            overflow: hidden; }
            .header .nav .nav-menu .nav-list .nav-item .nav-link .nav-link1 {
              display: block;
              transform: translateY(0);
              transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
              opacity: 1; }
            .header .nav .nav-menu .nav-list .nav-item .nav-link .nav-link2 {
              position: absolute;
              bottom: -100%;
              left: 0;
              right: 0;
              transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
              opacity: 0; }
          .header .nav .nav-menu .nav-list .nav-item:hover .nav-link1 {
            transform: translateY(-100%);
            opacity: 0; }
          .header .nav .nav-menu .nav-list .nav-item:hover .nav-link2 {
            bottom: 0;
            opacity: 1; }
      .header .nav .nav-menu .social-links {
        margin-top: 1.5rem; }
        .header .nav .nav-menu .social-links .social-link {
          margin: 0 20px 0 0;
          display: inline-block;
          position: relative; }
          .header .nav .nav-menu .social-links .social-link::after {
            content: "";
            display: inline-block;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background: #f17300;
            position: absolute;
            top: 10px;
            right: -14px; }
          .header .nav .nav-menu .social-links .social-link:nth-of-type(4)::after {
            display: none; }
          .header .nav .nav-menu .social-links .social-link a {
            font-family: "Iceberg", cursive;
            font-size: 1rem;
            height: 24px;
            font-weight: 400;
            color: #dbdbdb;
            position: relative;
            display: block;
            overflow: hidden;
            letter-spacing: 0.5px; }
            .header .nav .nav-menu .social-links .social-link a span {
              display: block;
              transform: translateY(0);
              transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
              opacity: 1; }
            .header .nav .nav-menu .social-links .social-link a i {
              position: absolute;
              bottom: -100%;
              left: 0;
              right: 0;
              text-align: center;
              font-size: 1rem;
              color: #f17300;
              transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
              opacity: 0; }
          .header .nav .nav-menu .social-links .social-link a:hover span {
            transform: translateY(-100%);
            opacity: 0; }
          .header .nav .nav-menu .social-links .social-link a:hover i {
            bottom: 0px;
            opacity: 1; }
      .header .nav .nav-menu .email {
        margin-top: 1rem;
        position: relative;
        display: inline-flex; }
        .header .nav .nav-menu .email a {
          font-family: "Iceberg", cursive;
          font-size: 1.15rem;
          color: #fff;
          font-weight: 500;
          display: inline-flex; }
        .header .nav .nav-menu .email::before {
          content: "";
          position: absolute;
          bottom: -7px;
          left: 0;
          background: #414141;
          width: 100%;
          height: 2px; }
        .header .nav .nav-menu .email::after {
          content: "";
          position: absolute;
          bottom: -7px;
          left: 0;
          background: #f17300;
          width: 0;
          height: 5px;
          transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s; }
        .header .nav .nav-menu .email:hover::after {
          width: 100%; }
      .header .nav .nav-menu .nav-close {
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
        width: 45px;
        height: 45px;
        background: #fff;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.4s ease-in-out; }
        .header .nav .nav-menu .nav-close:hover {
          background: #f17300;
          transform: scale(0.9); }
    .header .nav .logo {
      width: 150px;
      transition: all 0.4s ease-in-out;
      color: #000;
      font-weight: 600;
      font-size: 1.5rem;
      font-family: "Iceberg", cursive; }
    .header .nav .toggle-wrap {
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .nav .toggle-wrap .theme-container {
        margin-right: 1rem;
        transition: all 0.4s ease-in-out; }
        .header .nav .toggle-wrap .theme-container .theme-switch-wrapper {
          display: flex;
          align-items: center; }
          .header .nav .toggle-wrap .theme-container .theme-switch-wrapper span {
            margin-right: 10px;
            font-size: 0.8rem;
            font-weight: 600;
            text-transform: capitalize;
            color: #000;
            display: none; }
          .header .nav .toggle-wrap .theme-container .theme-switch-wrapper .theme-switch {
            width: 40px;
            height: 22px;
            position: relative;
            overflow: hidden; }
            .header .nav .toggle-wrap .theme-container .theme-switch-wrapper .theme-switch input {
              display: none; }
              .header .nav .toggle-wrap .theme-container .theme-switch-wrapper .theme-switch input:checked + .slider {
                background: #000; }
              .header .nav .toggle-wrap .theme-container .theme-switch-wrapper .theme-switch input:checked + .slider::before {
                background: #f17300;
                transform: translateX(16px); }
            .header .nav .toggle-wrap .theme-container .theme-switch-wrapper .theme-switch .slider {
              background: #000;
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              top: 0;
              cursor: pointer;
              border-radius: 30px; }
              .header .nav .toggle-wrap .theme-container .theme-switch-wrapper .theme-switch .slider::before {
                content: "";
                position: absolute;
                background: #fff;
                bottom: 3px;
                left: 4px;
                height: 16px;
                width: 16px;
                border-radius: 50%;
                transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s; }
      .header .nav .toggle-wrap .nav-open {
        width: 45px;
        height: 45px;
        background: #000;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.4s ease-in-out; }
        .header .nav .toggle-wrap .nav-open:hover {
          transform: scale(0.9); }

.hide-logo {
  opacity: 0;
  pointer-events: none; }

.section {
  padding: 5.5rem 0 3.5rem; }
  .section .section-title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 105%;
    margin-bottom: 2rem; }

.container {
  max-width: 1200px;
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.grid {
  display: grid;
  gap: 1.5rem; }

.flex {
  display: flex; }

.home .home-content .home-title {
  font-size: 2.3rem; }
  .home .home-content .home-title span img {
    width: 30px;
    height: 30px;
    margin-bottom: -0.3rem; }
.home .home-content .home-description {
  line-height: 25px;
  margin-top: 0.7rem; }
.home .home-img {
  display: none; }

#web .web-wrap {
  margin-top: 4.5rem; }
  #web .web-wrap .web-list {
    margin-bottom: 70px; }
    #web .web-wrap .web-list .web-content-wrap {
      display: block;
      width: 100%; }
      #web .web-wrap .web-list .web-content-wrap .web-media .web-img {
        position: relative; }
        #web .web-wrap .web-list .web-content-wrap .web-media .web-img .web-thumbnail {
          display: block;
          height: 100%;
          position: relative;
          height: 20rem;
          display: block;
          border: 1rem solid #dbdbdb;
          overflow: hidden;
          transition: all 0.4s ease-in-out; }
          #web .web-wrap .web-list .web-content-wrap .web-media .web-img .web-thumbnail img {
            transform: 0;
            transition: all 10s ease; }
            #web .web-wrap .web-list .web-content-wrap .web-media .web-img .web-thumbnail img:hover {
              transform: translateY(calc(-100% + 18rem)); }
      #web .web-wrap .web-list .web-content-wrap .web-content {
        margin-top: 2rem;
        padding-right: 3.2rem; }
        #web .web-wrap .web-list .web-content-wrap .web-content h3 {
          font-size: 1.7rem;
          font-weight: 600;
          margin-bottom: 1rem; }
        #web .web-wrap .web-list .web-content-wrap .web-content p {
          line-height: 21px;
          font-size: 0.85rem;
          margin-bottom: 1.6rem; }
        #web .web-wrap .web-list .web-content-wrap .web-content .web-btn-container .web-link {
          color: #000;
          font-size: 0.9rem;
          font-weight: 700;
          position: relative;
          display: block;
          overflow: hidden; }
          #web .web-wrap .web-list .web-content-wrap .web-content .web-btn-container .web-link .web-link1 {
            display: block;
            transform: translateY(0);
            transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
            opacity: 1; }
            #web .web-wrap .web-list .web-content-wrap .web-content .web-btn-container .web-link .web-link1::after {
              content: "";
              width: 18px;
              height: 1.5px;
              background: #f17300;
              display: inline-block;
              transform: translateY(-4px);
              margin-left: 8px;
              /* transition: width cubic-bezier(0.4, 0, 0.2, 1) 0.3s; */ }
          #web .web-wrap .web-list .web-content-wrap .web-content .web-btn-container .web-link .web-link2 {
            position: absolute;
            bottom: -100%;
            left: 0;
            right: 0;
            transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
            opacity: 0; }
            #web .web-wrap .web-list .web-content-wrap .web-content .web-btn-container .web-link .web-link2::after {
              content: "";
              width: 18px;
              height: 1.5px;
              background: #f17300;
              display: inline-block;
              transform: translateY(-4px);
              margin-left: 8px;
              /* transition: width cubic-bezier(0.4, 0, 0.2, 1) 0.3s; */ }
          #web .web-wrap .web-list .web-content-wrap .web-content .web-btn-container .web-link:hover .web-link1 {
            transform: translateY(-100%);
            opacity: 0; }
          #web .web-wrap .web-list .web-content-wrap .web-content .web-btn-container .web-link:hover .web-link2 {
            bottom: 0;
            opacity: 1; }

/*# sourceMappingURL=style.css.map */
