#fashion {
  // background: var(--container-color);

  .gallery {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    a {
      height: 100%;
      width: 100%;
      overflow: hidden;

      img {
        height: 25rem;
        @include transition1;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }


  .see {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
