.home {
  background: var(--container-color);

  .home-content {
    .home-title {
      font-size: 2.3rem;

      span {
        img {
          width: 30px;
          height: 30px;
          margin-bottom: -0.3rem;
        }
      }
    }

    .home-description {
      line-height: 25px;
      margin-top: 0.7rem;
      color: var(--text-color);
    }
  }

  .home-img {
    display: none;
  }
}

.homes {
  background: var(--container-color);
  padding-block: 8rem;
  position: relative;

  .title {
    font-weight: 300;
    text-transform: uppercase;

    .inline-image {
      display: inline-block;
      width: 7rem;
      height: 7rem;
      background: url('../images/statue.jpg') top center no-repeat;
      background-size: cover;
      border-radius: 50%;
      border-bottom-left-radius: 0;
      margin: 0 1rem;
    }
  }

  .main-title {
    font-size: clamp(2rem, 10vw, 10rem);
    text-align: center;
    line-height: 1.2;
  }
}
