.section {
  padding: 5.5rem 0 3.5rem;

  &-title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 105%;
    margin-bottom: 2rem;
  }
}

.container {
	max-width: 1200px;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.grid {
	display: grid;
	gap: 1.5rem;
}

.flex {
	display: flex;
}
